
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oxygen:light|Oxygen:bold);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.main {
  margin: 2rem 0;
}
.alert {
  text-align: center;
}
.signup {
  padding-bottom: 3rem;
}
h1.page-header, p.lead {
  text-align: center;
}
.about h3 {
  text-align: center;
}
label.disabled {
  color: #999999;
  font-style: italic;
}
footer {
  border-top: 1px solid $table-border-color;
  background-color: $table-bg-accent;
  text-align: center;
  padding: 3rem 0;
}

.providers {
  padding-bottom: 3rem;
}

.logo-container {
  background: #eee;
  border-radius: 5px;
  padding: 20px 30px;

  .page-header {
      text-align:center;
  }
}

.jobtomail-provider {
  display: block;
  position: relative;
  height: 120px;
  padding: 10px;
  margin: 15px 0;
  background: #fff;
  border-radius: 5px;
}
