
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oxygen:light);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.signup {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.signup h1, .signup p {
  text-align: center;
}
.about h3 {
  text-align: center;
}
footer {
  border-top: 1px solid $table-border-color;
  background-color: $table-bg-accent;
  text-align: center;
  margin: 3rem 0;
  padding: 3rem 0;
}
